<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.MessageInfoMapper">

    <!-- 分页获取系统消息 -->
    <select id="selectMessagePage" resultType="java.util.LinkedHashMap">
        SELECT
        message_info.*,
        user_info.`code`,
        user_info.`name`,
        user_info.images
        FROM
        message_info
        LEFT JOIN user_info ON ( user_info.id = message_info.send_user )
        WHERE 1 = 1
        <if test="messageInfo.name != null and messageInfo.name != ''">
            AND user_info.`name` LIKE CONCAT('%',#{messageInfo.name},'%')
        </if>
        <if test="messageInfo.code != null and messageInfo.code != ''">
            AND user_info.`code` LIKE CONCAT('%',#{messageInfo.code},'%')
        </if>
        <if test="messageInfo.content != null and messageInfo.content != ''">
            AND message_info.`content` LIKE CONCAT('%',#{messageInfo.content},'%')
        </if>
        ORDER BY
        message_info.create_date DESC
    </select>
</mapper>
